@import url("layout.css");
body {
	color: black;
	font-size: 13px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #d3d9d6;
}
#container {
	background-color: #fff;
	width: 620px;
	margin: 0 auto;
	border-top: 0;
	border-right: 1px solid #b7b7b7;
	border-bottom: 0;
	border-left: 1px solid #b7b7b7;
}
#masthead {
	text-align: right;
	background-color: #036;
	width: 620px;
}
#navigation {
	background-color: #545454;
	overflow: hidden;
}
#column_l {
	width: 385px;
	margin: 0;
	padding: 0 15px;
	background-color: #fff;
}
#column_r {
	width: 192px;
	margin: 0;
	float: right;
	padding: 4px;
	background-color: #a9a9a9;
	position: relative;
}
#footer {
	width: 620px;
	text-align: center;
	background-color: #113962;
	padding-top: 5px;
	padding-bottom: 5px;
}
/* Styles for Masthead */
#masthead img { 
	float: left; 
}
#masthead p {
	font-size: 11px;
	color: #fff;
	margin: 10px 10px 0;
}
#column_r p {
	font-size: 11px;
	margin: 7px;
}
/* Styles for Navigation */
#navigation ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
}
#navigation a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 5px;
	border: 1px solid #c9c9c9;
}
#navigation a:hover {
	color: #000;
	text-decoration: none;
	border: 1px solid #a9a9a9;
	background-color: #a9a9a9;
}
/* Styles for Footer */
#footer p {
	font-size: 11px;
	line-height: 14px;
	color: #fff;
	margin: 1px;
	padding: 1px;
}
#footer a {
	color: #fff;
	text-decoration: underline;
}
#footer a:hover {
	color: #fff;
	text-decoration: none;
}
/* Styles for Links */
a {
	color: #036;
	text-decoration: underline;
}
a:hover {
	color: #808080;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}
