<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WakeOnLan.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WakeOnLan.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WakeOnLan.My.MySettings>
            <setting name="DefaultMessage" serializeAs="String">
                <value>System is shutting down!</value>
            </setting>
            <setting name="DefaultTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="emerg_message" serializeAs="String">
                <value>Emergency shutdown!</value>
            </setting>
            <setting name="emerg_delay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reboot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Force" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="ListView_View" serializeAs="String">
                <value>Tile</value>
            </setting>
            <setting name="MainWindow_Size" serializeAs="String">
                <value>780, 580</value>
            </setting>
            <setting name="MainWindow_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowGroups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pinger" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowHotButtons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchStart" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="SearchEnd" serializeAs="String">
                <value>192.168.0.20</value>
            </setting>
            <setting name="SortColumn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SortDirection" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TaskUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autocheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shutdownAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListView_Columns" serializeAs="String">
                <value />
            </setting>
            <setting name="schedulerColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="schedulerWindowSize" serializeAs="String">
                <value>877, 445</value>
            </setting>
            <setting name="schedulerWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </WakeOnLan.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <WakeOnLan.My.MySettings>
            <setting name="updateURL" serializeAs="String">
                <value>http://wol.aquilatech.com/updates/AppCast.xml</value>
            </setting>
            <setting name="updateIntervalDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="updateVersions" serializeAs="String">
                <value>http://wol.aquilatech.com/updates/version.html</value>
            </setting>
        </WakeOnLan.My.MySettings>
    </applicationSettings>
</configuration>
