vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_textextensions:SW|.txt.
vti_webservertype:SR|diskweb
vti_defaultlanguage:SR|en-us
vti_timecreated:TR|07 Mar 2013 15:24:39 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_htmlextensions:SW|.alx.asp.aspx.dwt.hta.htc.htm.html.htt.htx.jsp.master.php.php2.php3.php4.php5.phtml.shtml.stm.asa.asax.
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|12.0.0.0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_navbuttonnextlabel:SR|Next
vti_structto_localhost\\\\\\aquila\\files\\users\\phil\\my documents\\my web sites\\mysite3///aquila/files/users/phil/my documents/my web sites/mysite3:TR|07 Mar 2013 15:26:35 -0000
vti_copytimestamp_file\://///aquila/files/users/phil/My Documents/My Web Sites/mysite3:TR|07 Mar 2013 15:30:07 -0000
vti_copytimestamp_file\://///aquila/files/Users/phil/My Documents/Projects/WakeOnLan/OnlineHelp:TR|09 Mar 2013 18:25:35 -0000
vti_approvallevels:VR|Approved Rejected Pending\\ Review
vti_showhiddenpages:IR|1
vti_navbuttonhomelabel:SR|Home
vti_dependenciesood:IR|1
vti_copytimestamp_sftp\://web.sourceforge.net/%2fhome/project-web/aquilawol/htdocs/help/2.7:TR|09 Mar 2013 19:08:48 -0000
vti_copytimestamp_sftp\://web.sourceforge.net/%2fhome/project-web/aquilawol/htdocs:TR|13 Mar 2013 12:56:37 -0000
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Rejected
vti_defaultcharset:SR|utf-8
vti_navbuttonuplabel:SR|Up
