.pages span.current {
    background: none repeat scroll 0 0 #C2D6ED;
    border: 1px solid #3B5998;
    color: #3B5998;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px 6px;
}
.pages span.disabled {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    margin-right: 5px;
    padding: 1px 5px;
}
.pages a {
    border: 1px solid #C2D1DF;
    color: #3B5998;
    margin-right: 5px;
    padding: 2px 6px;
}
.pages a:link {
    text-decoration: none;
}
