vti_encoding:SR|utf8-nl
vti_author:SR|AQUILA\\phil
vti_modifiedby:SR|AQUILA\\phil
vti_timelastmodified:TR|11 Mar 2013 14:13:48 -0000
vti_timecreated:TR|07 Mar 2013 15:24:43 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_syncwith_localhost\\\\\\aquila\\files\\users\\phil\\my documents\\my web sites\\mysite3///aquila/files/users/phil/my documents/my web sites/mysite3:TR|07 Mar 2013 15:24:43 -0000
vti_syncwith_localhost\\\\\\aquila\\files\\users\\phil\\my documents\\projects\\wakeonlan\\onlinehelp///aquila/files/users/phil/my documents/projects/wakeonlan/onlinehelp:TX|07 Mar 2013 15:24:42 -0000
vti_syncofs_localhost\\\\\\aquila\\files\\users\\phil\\my documents\\projects\\wakeonlan\\onlinehelp///aquila/files/users/phil/my documents/projects/wakeonlan/onlinehelp:TW|09 Mar 2013 18:25:42 -0000
vti_syncofs_web.sourceforge.net\:22/%2fhome/project-web/aquilawol/htdocs/help/2.7:TW|09 Mar 2013 19:04:56 -0000
vti_syncwith_web.sourceforge.net\:22/%2fhome/project-web/aquilawol/htdocs/help/2.7:TX|07 Mar 2013 15:24:42 -0000
vti_nexttolasttimemodified:TW|11 Mar 2013 13:22:59 -0000
vti_syncwith_web.sourceforge.net\:22/%2fhome/project-web/aquilawol/htdocs:TX|11 Mar 2013 14:13:48 -0000
vti_syncofs_web.sourceforge.net\:22/%2fhome/project-web/aquilawol/htdocs:TW|13 Mar 2013 11:53:25 -0000
vti_cacheddtm:TX|11 Mar 2013 14:13:48 -0000
vti_filesize:IR|2559
vti_cachedlinkinfo:VX|Q|layout.css
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css
